.MuiBox-root.cardmodal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    outline: 0;
}

.transition-modal-description {
    
}

.cardmodal__closebtn {
    align-self: flex-end;
}

.cardmodal__body {
    display: flex;
    align-items: center;
    overflow: auto;
}

.cardmodal__card-vid {
    max-width: 100%;
    max-height: 100%;
    margin-right: 20px;
    border-radius: 20px;
}

.cardmodal__p {
    margin-top: 0;
    white-space: break-spaces;
}

.cardmodal__closebtn {
    position: relative;
    flex-shrink: 0;
    width: 28px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cardmodal__closebtn-item {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 8px;
    background-color: #565656;
} 

.cardmodal__closebtn-item:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cardmodal__closebtn-item:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 1000px) {
    .cardmodal__body {
        flex-direction: column;
        text-align: justify;
        overflow-y: scroll;
    }

    .cardmodal__card-vid {
        margin-right: 0;
        max-width: 30%;
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .cardmodal__card-vid {
        max-width: 50%;
    }
}

@media (max-height: 425px) {
    .cardmodal__body {
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
    }

    .cardmodal__card-vid {
        margin-right: 20px;
    }

    .transition-modal-description {
        overflow-y: auto;
        height: 100%;
    }
}