.container > * {
    padding-left: calc(100vw - 100%);
}

.footer {
    min-height: 50px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    padding-left: calc(100vw - 100%);
}

.socials-container__item {
    height: 32px;
    width: 32px;
    margin: 0 10px;
    vertical-align: sub;
}