.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}

.socials-container {
   
}

.socials-container__item {
    height: 32px;
    width: 32px;
    margin: 0 10px;
    vertical-align: sub;
}