* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body,
#root {
  min-height: 100%;
  min-height: 100dvh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  padding: 0;
}
