.MuiBox-root.cardpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 750px;
    padding-top: 0;
}

.cardpage__body {
    text-align: justify;
    white-space: pre-line;
    margin-bottom: 10px;
}

.cardpage__video-container {
    display: contents;
}

.cardpage__card-vid {
    float: left;
    width: 320px;
    border-radius: 20px;
    margin-right: 10px;
}

.cardpage__text-category {
    font-weight: bold;
}

.cardpage__text-description {
    text-align: justify;
}

.cardpage__h2 {
    margin-top: 0;
    text-align: center;
}

.text-align-left {
    text-align: left;
    margin: 0;
}

.cardpage__closebtn {
    align-self: flex-start;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cardpage__closebtn-wrapper {
    display: flex;
    align-items: center;
    color: #565656;
}

.cardpage__closebtn-wrapper-img {
    height: 20px;
    margin-right: 5px;
}

@media (max-width: 1000px) {
    .MuiBox-root.cardpage {
        padding: 0 10px;
        padding-bottom: 0px;
    }

    .cardpage__card-vid {
        max-width: 30%;
    }
}

@media (max-width: 425px) {
    .cardpage__card-vid {
        max-width: 50%;
    }
}